* {
    margin: 0;
    padding: 0;
}

.section-one {
    height: 300px;
    background-color: rgb(151, 0, 151);
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 60px;
    position: absolute;
    width: 100%;
}
.navbar2 {
    display: flex;
    height: 100%;
    align-items: center;
    max-width: 400px;
    font-size: 1.2rem;
}


.navbar__item {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__item_active {
    background-color: rgb(121, 0, 121);
}

.navbar__item:hover {
    
}

.navbar__logo {
    color: #ffffff;
    font-size: 1.3rem;
}

.section-one article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.section-one h2 {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
}

.section-one .btn {
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border: none;
}

.section-two {
    min-height: 300px;
}

.card-list {
    display: flex;
    justify-content: center;
    align-items:center;
  min-height:100vh;
  min-width:100vh;
  }
  
  
  .card-item {
   width: 100px;
    height:300px;
    padding:20x; /* внутренний отступ */
   margin:100px; /* рамка */
   
   
  }
  .card-item2 {
    display:flex;
    align-items: center;
    
    
   }
   .card-item3 {
       height: 160px;
   display:flex;
    align-items: center;
    justify-content: center;
   
  }
  .title {
    margin-left: 40px; /*Внешний отступ*/
  }
  .text_trans{
      text-align: center;
  }
  /* через решетку обращемся к элементам по id */
  #sun {
    color:white;
  }
  
  #mars {
    color:white;
  }
  #Venera{
    color:white;
  }
  #Rocket{
      color:white;
  }
  /* без указания обращаемся по имени тега */
  .text_trans{
    margin:10px 0;
    text-align:justify
}
  a {
    text-decoration: none; /* убираем подчеркивание */
    color: blue; /* цвет текста */
  }
 body {
      background: cyan;
  }
 

/* ==== section three ==== */

.section-three {
    min-height: 300px;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-three__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.section-three__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid black;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.section-three__discription {
    max-width: 400px;
    font-size: 1.2rem;
    text-align: center;
}

.section-three__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-three__item {
    margin: 40px;
} 

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__name {
    text-transform: uppercase;
    color: rgb(27, 27, 27);
}

.card__title {
    color: rgb(0, 180, 224);
}

.card__discription {
    margin: 10px 0px;
    text-align: center;
}

.card__link-list {
    display: flex;
    align-self:center;
}
.card__link-list2{
    display: flex;
    align-self:center;
}
.card__link-item {
    background-color: rgb(194, 194, 194);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.section-three a {
    text-decoration:none;
}

.vk:hover {
    color: #fff;
    background-color: rgb(65, 65, 230);
}
.youtube:hover{
    color:white;
    background-color: red;
}
.facebook:hover{
    color:white;
    background-color:blue;
}
.twitter:hover{
    color:rgb(4, 0, 236);
    background-color:rgba(245, 245, 245, 0.39);
}
.steam:hover{
    color:blue;
     background-color:rgba(0, 195, 255, 0.041); 
}
.spoke:hover{
    color:blue;
    background-color: white;
}
.spotify:hover{
    color:green;
    background-color: black ;
}
.section-four {
    min-height: 300px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-five {
    min-height: 100vh;
    background-color:rgb(138, 138, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

