* {
    margin: 0;
    padding: 0;
}

.section-one {
    height: 600px;
    background-color: none;
    position: relative;
    background-image: url(1.jpg);
    background-size: 100% 100%;
   
}

.navbar {
    display: flex;
    justify-content:space-between; 
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9000;
   
    background-color:white;
}
.navbar2 {
    display: flex;
    height: 100%;
    align-items: center;
    max-width: 400px;
    font-size: 1.2rem;
}
.border{
    margin-top: 50px;
}

.navbar__item {
  
    padding: 20px 10px;
    margin: 2px 10px;
    border-left: 1px solid orangered;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar__2item {
    padding: 20px 10px;
    margin: 2px 10px;
    border-left: 1px solid orangered;
    border-right: 1px solid orangered;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar__item_active {
    background-color: rgb(121, 0, 121);
}

.navbar__item:hover {
    border:1px;
    border-color:orangered;
}

.navbar__logo {
    margin-left: 100px;
    font-family: "Monotype Corsiva" Cursive;
    text-transform: uppercase;
        color:black;
    font-size: 1.3rem;
}

.section-one article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.section-one h2 {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
}

.section-one .btn {
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border: none;
}

.section-two {
    min-height: 300px;
}

.card-list {
    display: flex;
    justify-content: center;
    align-items:center;
  min-height:100vh;
  min-width:100vh;
  }
  
  
  .card-item {
   width: 100px;
    height:300px;
    padding:20x;
   margin:100px; 
   
   
  }
  .card-item2 {
    display:flex;
    align-items: center;
    
    
   }
   .card-item3 {
       height: 160px;
   display:flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .text_trans{
      text-align: center;
  }

  .text_trans{
    margin:10px 0;
    text-align:justify
}
 
 

.section-three {
    min-height: 400px;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(2.jpg);
    background-size: 100% 100%;
}

.section-three__title {
    font-size: 2.2rem;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    color:orangered;
  
}

.section-three__title:after {
   
        content: '';
    position: absolute;
    border-bottom: 2px solid blue;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
    
}

.section-three__discription {
    max-width: 500px;
    font-size: 1.2rem;
    text-align: center;
}

.section-three__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-three__item {
    margin: 40px;
} 

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__name {
    text-transform: uppercase;
    color: orange;
}

.card__title {
    color: rgb(0, 180, 224);
}

.card__discription {
    margin: 10px 0px;
    text-align: center;
}

.card__link-list {
    display: flex;
    align-self:center;
}
.card__link-list2{
    display: flex;
    align-self:center;
}
.card__link-item {
    background-color: rgb(194, 194, 194);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.section-three a {
    text-decoration:none;
}



.section-four {
    min-height: 300px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-four__title {
    font-size: 2.2rem;
    margin-top: 0;
    position: relative;
    z-index: 9000;
    color:rgb(231, 133, 5);
}

.section-four__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid blue;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
    z-index: 7;
}

.section-four__discription {
    max-width: 500px;
    margin-left: 250px;
    font-size: 1.2rem;
    text-align: center;

}
.section-four__discription2{
    max-width: 1000px;
    font-size: 1rem;
    text-align: center;
    color:rgb(214, 202, 202)
    
}


.section-five {
    min-height: 500px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-five__title{
    font-size: 2.2rem;
    margin-top: 10px;
    position: relative;
    color:orangered;
}
.section-five__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid blue;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
    z-index: 7;
}
.container3{
    min-width: 300px;
    min-height: 50px;
    border: 2px solid orange;
    background-color:white;
    border-radius: 5px; 
    padding: 16px; 
    margin: 16px auto; 
    text-align: center;
    
}

.container3 span {
    margin-top: 10px;
    font-size: 18px;
    margin-right: 15px;
  }
  .global{
    display: flex;
    flex-direction: row;
     justify-content: space-evenly;
  }
  .list{
      margin-left: 5px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
  }
  .section-four__discription3{
    max-width: 1000px;
    font-size: 1rem;
    text-align: center;
    color:rgb(177, 168, 168)
    
}
.text2{
    margin-top: -15px;
}